/* CSS style */

/* tutti gli elementi */
* {
   box-sizing: border-box;
}

body {
    overflow: auto;
    font-family: Arial, Helvetica, 'Exo' sans-serif;
}


/* prima navbar con logo, descrizione e info */
.navbar {
    background-color: #0C3C26;
    color: #44b78b;
    padding: 5px;
    margin: 0px;
    border: none;
    border-radius: 0;
}


/* logo applicazione */
.navbar .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Playball', sans-serif;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: white;
}


/* descrizione applicazione */
.navbar .navbar-text{
    color: #44b78b;
}

/* link info e help*/
.navbar .navbar-nav>li>a{
    color: white;
}

.navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover{
    color: #e8eef2;
    text-decoration: underline;
}


/* seconda navbar con toggle button, caricamento url e info utente autenticato */
#secondnav{
    background-color: #44b78b;
    color: white;
    margin-bottom: 25px;
    border-bottom: 3px solid #0C3C26;
}

.navbar-form{
    margin-right: 0px;
    margin-left: 0px;
}

/* per versioni mobile*/
@media (min-width:768px){
    .navbar-form .input-group{
        width: 600px;
    }
}

#navbar-collapse-due{
    border: 0px none;
}

#utenteAutenticato{
    color: white;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.btn-default {
    color: #0C3C26
}

.glyphicon{
    top: 3px;
}

.navbar-btn {
    font-size: 21px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* toggle checkbox autenticazione */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden; /*nasconde la checkbox*/
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    margin: 0px;
}

input.cmn-toggle-yes-no + label {
    width: 210px;
    height: 50px;
    margin-right: 15px;
}

#lista_annot input.cmn-toggle-yes-no + label{
    height: 35px;
    width: 190px;
    margin: auto;
    margin-bottom: 5px;
}

input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}

#lista_annot input.cmn-toggle-yes-no + label:before, #lista_annot input.cmn-toggle-yes-no + label:after{
    line-height: 40px;
}

input.cmn-toggle-yes-no + label:before {
    background-color: #0C3C26;
    content: attr(data-off);
    transition: transform 0.5s;
    backface-visibility: hidden;
}

#lista_annot input.cmn-toggle-yes-no + label:before {
    background-color: #DCDCDC;
    color: #0C3C26;
}
input.cmn-toggle-yes-no + label:after {
    background-color: white;
    color: #0C3C26;
    content: attr(data-on);
    transition: transform 0.5s;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleAutoreLabel:after {
    background-color: #ffd700;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleAnnoPLabel:after {
    background-color: #ff934d;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleCitLabel:after {
   background-color: #d29aaf;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleCommLabel:after {
    background-color: #ffdd99;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleDOILabel:after {
    background-color: #DC143C;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleFunzRetLabel:after {
    background-color: #bfff80;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleTitoloLabel:after{
    background-color: #48D1CC;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleURLLabel:after {
    background-color: #008080;
    color:white;
}

input.cmn-toggle-yes-no:checked + label:before {
    transform: rotateY(180deg);
}

input.cmn-toggle-yes-no:checked + label:after {
    transform: rotateY(0);
}


.btn-primary.active{
    background-color: #44B78B;
    border-color: #44B78B;
}

.btn-primary:hover {
    background-color: #44B78B;
    border-color: #39735C;
}

.btn-primary.active:hover{
    background-color: #44B78B;
    border-color: #39735C;
}

/* bottone autenticazione */
button.button-lg {
    font-weight: bold;
    background-color: #44b78b;
    width: 100%;
    color: white;
}
button.button-lg:hover {
    background-color: #0C3C26;
    color: white;
}
button.button-lg:active {
    background-color: #44b78b;
    color: white;
}

#messaggioErrore{
    color: #44b78b;
}

#doc.collapse.in, #gruppi.collapse.in {
    height: 350px;
    overflow-y: auto;
}

/* filtri tipo di annotazioni */
.filtri {
    font-size: 16px;
    font-weight: bold;
}

/* label tipo annotazione e colore highlight */
.labelURL {
    color: #008080;
}

.highlightURL{
    color: black;
    background-color: #008080;
}

.labelTitle{
    color: #48D1CC;
}

.highlightTitle{
    background-color: #48D1CC;
}

.labelAuthor{
    color: #ffd700;
}

.highlightAuthor{
    background-color: #ffd700;
}

.labelPublicationYear{
    color: #ff934d;
}

.highlightPublicationYear{
    background-color: #ff934d;
}

.labelDOI{
    color: #DC143C;
}

.highlightDOI{
    color: black;
    background-color: #DC143C;
}

.labelDenotesRhetoric{
    color: #bfff80;
}

.highlightDenotesRhetoric{
    background-color: #bfff80;
}

.labelComment{
    color: #ffdd99;
}

.highlightComment{
    background-color: #ffdd99;
}

.labelCites{
    color: #d29aaf;
}

.highlightCites{
    background-color: #d29aaf;
}

.highlightMultipleTipoDiverso{
    background-color: #dae0e6;
    border: 1px solid #989ca1;
}

.highlightMultipleTipoUguale{
    border: 1px solid #57595c;
}

.panel-default>.panel-heading .badge {
    color: #FFFFFF;
    background-color: #44B78B;
    margin-left: 20px;
}

/*Stile menu laterale*/
.panel-group .panel{
    margin-bottom: -3px; /*spazio tra i pannelli*/
}

.panel-default > .panel-heading{
    /*#f5f5f5*/
    background-color: #e8eef2;
    font-variant: small-caps;
    font-size: 19px;
    height: 40px;
}
.panel-default > .panel-heading h4 {
    margin-top: 0px;
}

.panel-default > .panel-heading a {
    color: #0C3C26;
    background-color: #e8eef2;

}
.row{
    margin-left:0px;
    margin-right:0px;
}

#divDocumento{
    border: 1px solid;
    padding: 3px;
    margin-top: -1px;
    margin-left: -16px;
    margin-right: -16px;
}

.panel>.panel-collapse>.list-group .list-group-item{
    width:100%;
    margin-bottom: -20px;
    background-color: white;
    word-wrap: break-word;
}

.panel>.panel-collapse>.list-group a.list-group-item.active{
    color: white;
    background-color: #44B78B;
    border-color: #44B78B;
}

.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:last-of-type{
    border-bottom: 0px;
}

.panel-group  a, .panel-group a:visited {
    color:#0C3C26;
    text-decoration: none;
    font-weight: 600;
    width: 300px;
    background: #F5F5F5;
}

.panel-group  a:hover {
  color: #2DB78B;
  text-decoration: none;
}

 .panel-group  a:active {
  text-decoration: none;
  color: #2DB78B;
}

/* Visualizzazione documento */
#singoloDocumento{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
}

.tabList{
    max-width: 100px;
    max-height: 70px;
}

a.box{
    width: 200px;
    border: 1px solid #000000;
    color: #555;
}

ul.nav.nav-tabs label{
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

span.glyphicon.glyphicon-remove::before{
    cursor: pointer;
    cursor: hand;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #0C3C26;
    background: transparent url(../uiTabsArrow.png) no-repeat bottom center;
    border: none;
    height: 40px;
}
.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    height: 40px;
}

.nav-tabs>li>a{
    color: #555;
}
.nav-tabs>li{
    height: 40px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    height: 40px;
}
span.glyphicon.glyphicon-remove{
    top: -8px;
    height: 5px;
}

#alertDoc .alert{
    margin-bottom: 0px;
}

.tableAnnot{
    margin: auto;
    overflow:auto;
    display: block;
}

.tableAnnot td, .tableAnnot th{
    width: 173px;
}

.tableAnnot td{
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
    max-width: 500px;
    overflow: auto;
}

.tableAnnot td:fisrtChild(), .tableAnnot th:fisrtChild(){
    width: 66px;
}

thead{
    border-bottom: 5px solid #44B78B;
}

.tableAnnot thead, .tableAnnot tbody { display: block; }

.tableAnnot tbody {
    max-height: 400px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#loading {
    display: none;
    position: fixed;
    left: 33%;
    top: 33%;
    height: 100px;
    width: 300px;
    margin: auto;
    background: rgba( 255, 255, 255, .8 )
                url('/static/ico/loader.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading #loading {
    display: block;
}



.tableAnnot{
    margin: auto;
    overflow:auto;
    display: block;
}

.tableAnnot td, .tableAnnot th{
    width: 173px;
}

.tableAnnot td{
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
    max-width: 500px;
    overflow: auto;
}

.tableAnnot td:fisrtChild(), .tableAnnot th:fisrtChild(){
    width: 66px;
}

thead{
    border-bottom: 5px solid #44B78B;
}

.tableAnnot thead, .tableAnnot tbody { display: block; }

.tableAnnot tbody {
    max-height: 400px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

#modalGestAnnotazioni h4{
    font-size: 20px;
}

#modalGestAnnotazioni thead{
    border-bottom: 5px solid #44B78B;
}

#modalGestAnnotazioni table span.glyphicon {
    padding-left: 15px;
}

div.tab-content{
    font-family: "Candara";
}

#selezione {
   resize: none;
}

#didascaliaModal{
    text-align: center;
}

#modificaAnnotazione{
    cursor: pointer;
}