/* CSS style */

/* tutti gli elementi */
* {
   box-sizing: border-box;

}

body {
    overflow: auto;
    font-family: Arial, Helvetica, 'Exo' sans-serif;

}


/* prima navbar con logo, descrizione e info */
.navbar {
    background-color: #0C3C26;
    color: #44b78b;
    padding: 5px;
    margin: 0px;
    border: none;
    border-radius: 0;
}


/* logo applicazione */
.navbar .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Playball', sans-serif;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: white;
}


/* descrizione applicazione */
.navbar .navbar-text{
    color: #44b78b;
}

/* link info e help*/
.navbar .navbar-nav>li>a{
    color: white;
}

.navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover{
    color:  #44b78b;
    text-decoration: underline;
}


/* seconda navbar con toggle button, caricamento url e info utente autenticato */
#secondnav{
    background-color: #44b78b;
    color: white;
    margin-bottom: 25px;
    border-bottom: 3px solid #0C3C26;
}

.navbar-form{
    margin-right: 0px;
    margin-left: 0px;
}

@media (min-width:768px){
    .navbar-form .input-group{
        width: 600px;
    }
}

#navbar-collapse-due{
    border: 0px none;
}

#utenteAutenticato{
    color: white;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.btn-default {
    color: #0C3C26
}

.glyphicon{
    top: 3px;
}

.navbar-btn {
    font-size: 21px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* toggle checkbox autenticazione */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden; /*nasconde la checkbox*/
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    margin: 0px;
}
input.cmn-toggle-yes-no + label {
    width: 210px;
    height: 50px;
}

div#lista_annot.panel-body label#toggleURLLabel{
    margin-bottom: 0px;
}

#lista_annot input.cmn-toggle-yes-no + label{
    height: 35px;
    width: 190px;
    margin: auto;
    margin-bottom: 5px;
}

input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}

#lista_annot input.cmn-toggle-yes-no + label:before, #lista_annot input.cmn-toggle-yes-no + label:after{
    line-height: 40px;
}

input.cmn-toggle-yes-no + label:before {
    background-color: #0C3C26;
    content: attr(data-off);
    transition: transform 0.5s;
    backface-visibility: hidden;
}

#lista_annot input.cmn-toggle-yes-no + label:before {
    background-color: #DCDCDC;
    color: #0C3C26;
}
input.cmn-toggle-yes-no + label:after {
    background-color: white;
    color: #0C3C26;
    content: attr(data-on);
    transition: transform 0.5s;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleAutoreLabel:after {
    background-color: #FFFF00;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleAnnoPLabel:after {
    background-color: #7FFF00;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleCitLabel:after {
   background-color: #ff0000;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleCommLabel:after {
    background-color: #00b33c;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleDOILabel:after {
    background-color: #007fff;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleFunzRetLabel:after {
     background-color: #ff9900;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleTitoloLabel:after{
    background-color: #ff0080;
    color:white;
}

#lista_annot input.cmn-toggle-yes-no + label#toggleURLLabel:after {
    background-color: #66ccff;
    color:white;
}

input.cmn-toggle-yes-no:checked + label:before {
    transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
    transform: rotateY(0);
}


.btn-primary.active{
    background-color: #44B78B;
    border-color: #44B78B;
}

.btn-primary:hover {
    background-color: #44B78B;
    border-color: #39735C;
}

.btn-primary.active:hover{
    background-color: #44B78B;
    border-color: #39735C;
}

/* bottone autenticazione */
button.button-lg {
    font-weight: bold;
    background-color: #44b78b;
    width: 100%;
    color: white;
}
button.button-lg:hover {
    background-color: #0C3C26;
    color: white;
}
button.button-lg:active {
    background-color: #44b78b;
    color: white;
}

#messaggioErrore{
    color: #44b78b;
}

#doc.collapse.in, #gruppi.collapse.in {
    height: 350px;
    overflow-y: auto;
}

/* filtri */
.filtri{
    font-weight: bold;
    padding: 10px;
    border: 2px solid #003366;
    margin-bottom: 15px;
    border-radius: 25px;
}

#labelURL{
    color: FireBrick;
}

#labelTitolo{
    color: DarkOrange;
}

#labelAutore{
    color: Gold;
}

#labelAnnoDiPubblicazione{
    color: RosyBrown;
}

#labelDOI{
    color: MediumSpringGreen;
}

#labelRetorica{
    color: Turquoise;
}

#labelCommento{
    color: SlateBlue;
}

#labelCitazione{
    color: Salmon;
}


.panel-default>.panel-heading .badge {
    color: #FFFFFF;
    background-color: #44B78B;
    margin-left: 20px;
    }

/*Stile menu laterale*/
.panel-group .panel{
    margin-bottom: -3px; /*spazio tra i pannelli*/
}

.panel-default > .panel-heading{
    /*#f5f5f5*/
    background-color: #0C3C26;
    font-variant: small-caps;
    font-size: 19px;
    height: 40px;
}
.panel-default > .panel-heading h4 {
    margin-top: 0px;
}

.panel-default > .panel-heading a {
    color: white;
    background-color: #0C3C26;

}
.row{
    margin-left:0px;
    margin-right:0px;
}

#divDocumento{
    border: 1px solid;
    padding: 3px;
    margin-top: -1px;
    margin-left: -16px;
    margin-right: -16px;
}

.panel>.panel-collapse>.list-group .list-group-item{
    width:100%;
    margin-bottom: -20px;
    background-color: white;
}

.panel>.panel-collapse>.list-group a.list-group-item.active{
    color: white;
    background-color: #44B78B;
    border-color: #44B78B;
}

.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:last-of-type{
    border-bottom: 0px;
}

.panel-group  a, .panel-group a:visited {
    color:#0C3C26;
    text-decoration: none;
    font-weight: 600;
    width: 300px;
    background: #F5F5F5;
}

.panel-group  a:hover {
  color: #2DB78B;
  text-decoration: none;
}

 .panel-group  a:active {
  text-decoration: none;
  color: #2DB78B;
}

/* Visualizzazione documento */
#singoloDocumento{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
}

