<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="keywords" content="semantic web, annotazioni, web scraping, progetto raschietto, tecnologie web">
        <meta name="description" content="Progetto Raschietto - Applicazione web per annotazione semantica di documenti">

        <!-- nome app web e icona -->
        <title>Raschietto</title>
        <link rel="shortcut icon" href="/static/ico/favicon.ico">

        <!-- gruppo e autori -->
        <meta name="author" content="Los Raspadores">
        <meta name="author" content="Alice Graziosi">
        <meta name="author" content="Silvia Perrino">
        <meta name="author" content="Silvia Borgiani">
        <meta name="author" content="Edoardo Viale">

        <!-- riferimenti css -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Exo:400,900">
        <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Roboto:400,900'>
        <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Playball'>
    </head>
    <body>
        <!-- prima navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- nome app e menu responsive -->
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-uno">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">raschietto</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-collapse-uno">
                    <ul class="nav navbar-nav navbar-left">
                        <li><p class="navbar-text">Un'applicazione per l'annotazione semantica di documenti</p></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://vitali.web.cs.unibo.it/TechWeb15/ProgettoDelCorso" title="Info sul progetto Raschietto"><span class="glyphicon glyphicon-info-sign"></span> Info progetto</a></li>
                        <li><a href="#home" title="Ti serve aiuto?"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- seconda navbar -->
        <!-- barra per passaggio mod reader e mod annotator + caricamento documento -->
        <nav class="navbar navbar-default" id="secondnav">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-due">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                </button>
                <!-- modalità reader e annotator -->
                <input type="checkbox" id="modalitaToggle" class="cmn-toggle cmn-toggle-yes-no" >
                <label id="modalitaToggleLabel" for="modalitaToggle" data-on="Modalità annotator" data-off="Modalità reader" data-toggle="tooltip" data-placement="bottom" title="Passa a modalità annotator"></label>
                </div>

                <div class="navbar-collapse collapse" id="navbar-collapse-due">
                    <ul class="nav navbar-nav navbar-left">
                    <li>
                        <!-- caricamento nuovo documento -->
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" id="uriNuovoDoc" placeholder="URI nuovo documento" name="nuovoDocumento" data-toggle="tooltip" data-placement="bottom" title="Carica un nuovo documento su cui aggiungere annotazioni">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="nuovoDoc"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li>
                        <p id="utenteAutenticato" class="navbar-text"></p>
                    </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" id="bottoniAnnotator">
                        <li>
                            <button type="button" class="btn btn-default navbar-btn" id="buttonScraper" data-toggle="tooltip" data-placement="bottom" title="Forza creazione di annotazioni"><span class="glyphicon glyphicon-filter"></span></button>
                            <button type="button" class="btn btn-default navbar-btn" id="buttonAnnotDoc" data-tooltip="tooltip" data-placement="bottom" title="Inserisci un'annotazione sul documento" data-toggle="modal" data-target="#modalAnnotDoc"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" class="btn btn-default navbar-btn" id="buttonCit" data-tooltip="tooltip" data-placement="bottom" title="Inserisci e gestisci citazioni" data-toggle="modal" data-target="#modalAnnotCit"><span class="glyphicon glyphicon-file"></span></button>
                            <button type="button" class="btn btn-default navbar-btn" id="buttonGest" data-toggle="tooltip" data-placement="bottom" title="Gestisci e salva le annotazioni create"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                        </li>
                      </ul>
                </div>
            </div>
        </nav>


        <div class="container-fluid">
            <div class="row">
            <!-- Sidebar -->
                <div class="col-sm-3">
                    <div class="panel-group">

                        <div class="panel panel-default">
                              <div class="panel-heading">
                                    <h4 class="sidebar-brand">
                                      <a data-toggle="collapse" href="#doc">Documenti<span class="badge" id="numDoc">0</span></a>
                                    </h4>
                              </div>
                              <div id="doc" class="panel-collapse collapse">
                                  <div class="list-group" id="lista_doc">
                                    </div>
                              </div>
                        </div>

                        <div class="panel panel-default">
                              <div class="panel-heading">
                                    <h4 class="sidebar-brand">
                                      <a data-toggle="collapse" href="#gruppi">Gruppi<span class="badge" id="numGru">0</span></a>
                                    </h4>
                              </div>
                              <div id="gruppi" class="panel-collapse collapse">
                                    <div class="list-group" id="lista_gruppi"></div>
                              </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="sidebar-brand"><a data-toggle="collapse" href="#filtriAnnotazioni">Tipi di annotazioni</a></h4>
                            </div>
                            <div id="filtriAnnotazioni" class="panel-collapse collapse">
                                <div class="panel-body" id="lista_annot">
                                    <input type="checkbox" id="toggleTitolo" class="cmn-toggle cmn-toggle-yes-no" checked>
                                    <label id="toggleTitoloLabel" for="toggleTitolo" data-on="Titolo" data-off="Titolo"></label>
                                    <input type="checkbox" id="toggleURL" class="cmn-toggle cmn-toggle-yes-no" checked >
                                    <label id="toggleURLLabel" for="toggleURL" data-on="URL" data-off="URL"></label>
                                    <input type="checkbox" id="toggleAutore" class="cmn-toggle cmn-toggle-yes-no" checked>
                                    <label id="toggleAutoreLabel" for="toggleAutore" data-on="Autore" data-off="Autore"></label>
                                    <input type="checkbox" id="toggleAnnoP" class="cmn-toggle cmn-toggle-yes-no" checked>
                                    <label id="toggleAnnoPLabel" for="toggleAnnoP" data-on="Anno Pubblicazione" data-off="Anno Pubblicazione"></label>
                                    <input type="checkbox" id="toggleDOI" class="cmn-toggle cmn-toggle-yes-no" checked>
                                    <label id="toggleDOILabel" for="toggleDOI" data-on="DOI" data-off="DOI"></label>
                                    <input type="checkbox" id="toggleFunzRet" class="cmn-toggle cmn-toggle-yes-no" checked>
                                    <label id="toggleFunzRetLabel" for="toggleFunzRet" data-on="Funzioni Retoriche" data-off="Funzioni Retoriche"></label>
                                    <input type="checkbox" id="toggleCit" class="cmn-toggle cmn-toggle-yes-no" checked>
                                    <label id="toggleCitLabel" for="toggleCit" data-on="Citazioni" data-off="Citazioni"></label>
                                    <input type="checkbox" id="toggleComm" class="cmn-toggle cmn-toggle-yes-no" checked >
                                    <label id="toggleCommLabel" for="toggleComm" data-on="Commenti" data-off="Commenti"></label>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default" id="panelAnnot" >
                            <div class="panel-heading">
                                <h4 class="sidebar-brand"><a data-toggle="collapse" href="#listaAnnotazioni">Annotazioni<span class="badge" id="numAnn">0</span></a></h4>
                            </div>
                            <div id="#listaAnnotazioni" class="panel-collapse collapse">
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-9" id="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home" id="homeTab"><b>Home</b></a></li>
                    </ul>

                    <div class="tab-content" >
                        <div class="tab-pane fade in active" id="home">
                            <div>
                                <div id="listaDocumenti"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal-->
        <!-- Modal autenticazione-->
        <div class="modal fade" id="modalAutenticazione" role="dialog">
            <div class="modal-dialog modal-md">
                 <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="text-center">Autenticazione</h3>
                    </div>
                    <div class="modal-body col-md-12">
                        <form class="form col-md-12 center-block">
                            <div class="form-group">
                                <input type="text" class="form-control input-md" id="nomecognome" placeholder="Nome e cognome" required>
                            </div>
                            <div class="form-group">
                              <input type="email" class="form-control input-md" id="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn button-lg" id="autenticati">Autenticati in modalità annotator</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <p id="messaggioErrore"></p>
                        </div>
                    </div>
                 </div>
            </div>
        </div>


        <!-- Modal annotazioni -->
        <div class="modal fade" id="modalAnnotazioni" role="dialog">
            <div class="modal-dialog modal-lg">
                 <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="text-center" id="numeroAnnotazioni"></h3>
                    </div>
                    <div class="modal-body col-md-12">
                        <div id="listaAnnotazioni"></div>
                    </div>
                    <div class="modal-footer">
                    </div>
                 </div>
            </div>
        </div>


        <div class="modal fade" id="modalAnnotazioneSingola" role="dialog">
            <div class="modal-dialog modal-lg">
                 <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="text-center">Annotazioni</h3>
                    </div>
                    <div class="modal-body col-md-12">
                        <div id="infoAnnotazione"></div>
                    </div>
                    <div class="modal-footer">
                    </div>
                 </div>
            </div>
        </div>

        <!--Modal creazione annotazioni sul documento-->
        <div class="modal fade" id="modalAnnotDoc" role="dialog">
            <div class="modal-dialog modal-md">
                 <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="text-center">Inserisci annotazione sul documento</h3>
                    </div>
                    <form>
                        <div class="modal-body">

                                <div class="form-group" id="divInsert">
                                    <label for="selectTipoAnnot">Seleziona il tipo di annotazione</label>
                                    <div>
                                        <select class="form-control" id="selectTipoAnnot">
                                            <option value=""></option>
                                            <option value="autore">Autore</option>
                                            <option value="anno">Anno pubblicazione</option>
                                            <!--<option value="citazione">Citazione</option>-->
                                            <option value="commento">Commento</option>
                                            <option value="doi">DOI</option>
                                            <option value="funzione">Funzione retorica</option>
                                            <option value="titolo">Titolo</option>
                                            <option value="url">URL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="insertAutore">
                                    <label for="autore">Inserisci il nome dell'autore</label>

                                        <input type="text" class="form-control" placeholder="" id="autore">

                                </div>

                                <div class="form-group" id="insertAnnoPub">
                                    <label for="anno">Seleziona l'anno di pubblicazione</label>
                                            <select class="form-control" id="anno">
                                                <option value=" "></option>
                                            </select>
                                </div>

                                <div class="form-group" id="insertTitolo">
                                    <label for="titolo">Inserisci il titolo del documento</label>
                                        <textarea class="form-control" placeholder="" id="titolo" rows="2"></textarea>

                                </div>

                                <div class="form-group" id="insertURL">
                                    <label for="url">Inserisci un URL associato al documento</label>
                                        <input type="text" class="form-control" placeholder="" id="url">
                                </div>

                                <div class="form-group" id="insertDOI">
                                    <label for="doi">Inserisci un DOI</label>
                                        <input type="text" class="form-control" placeholder="" id="doi">
                                </div>
                                <div class="form-group" id="insertComm">
                                    <label for="comm">Inserisci un commento</label>
                                        <textarea class="form-control" placeholder="" id="comm" rows="2"></textarea>
                                </div>

                                <div class="form-group" id="insertfunzRet">
                                    <label for="funcRet">Scegli una funzione retorica</label>
                                        <select class="form-control" id="funcRet">
                                            <option value=""></option>
                                            <option value="abstract">Abstract</option>
                                            <option value="introduction">Introduction</option>
                                            <option value="materials">Materials</option>
                                            <option value="methods">Methods</option>
                                            <option value="results">Results</option>
                                            <option value="discussion">Discussion</option>
                                            <option value="conclusion">Conclusion</option>
                                        </select>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button id="annullaInsert" type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
                            <button id="salvaInsert" type="button" class="btn btn-success">Salva</button>
                        </div>
                    </form>
                 </div>
                </div>
            </div>

            <!--Modal inserimento e gestione delle citazioni-->
            <div class="modal fade" id="modalAnnotCit" role="dialog">
            <div class="modal-dialog modal-md">
                 <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="text-center">Inserisci citazione</h3>
                    </div>
                    <form>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button id="annullaInsertCit" type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
                            <button id="salvaInsertCit" type="button" class="btn btn-success">Salva</button>
                        </div>
                    </form>
                 </div>
                </div>
            </div>


        <div class="modal fade" id="alertDoc" role="dialog">
            <div class="modal-dialog modal-md">
                 <div class="modal-content">
                    <div class="alert alert-danger" >
                        <strong id="alertMessage"></strong>
                    </div>
                 </div>
            </div>
        </div>

        <!-- riferimenti javascript -->
        <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

        <script type="text/javascript" charset="utf-8" src="/static/js/init.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/js/readFunctions.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/js/autenticazione.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/js/annotazioni.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/js/filtriTipiAnnotazioni.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/js/utils.js"></script>

    </body>
</html>